* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --roxo-destaque: #9747FF;
    --roxo-hover: #8233E8;
    --texto-versao-dark: #FFFFFF;
    --texto-versao-light: #232323;
    --fundo-dark: #0E1014;
    --fundo-light: #0e1014;
    --texto: #D9D9D9;

    --fonte-primaria: 'Unbounded';
    --fonte-secundaria:'Poppins'

}

body {
    background-color: var(--fundo-dark);
    font-family: Arial, Helvetica, sans-serif;
}



/*.container {
    text-align: center;
    
}*/

.titulo {
    font-size: 80px;
    font-weight: bold;
    color: var(--texto-versao-dark);
    font-family: var(--fonte-primaria);
    margin-top: 60px;
    margin-bottom: 24px;
    text-align: center;
}

.span__titulo {
    color: var(--roxo-destaque);
}

.texto {
    font-family: var(--fonte-secundaria);
    color: var(--texto);
    font-size: 24px;
    text-align: center;
    width: 792px;
    margin: 0 auto;
}

a{
    color: var(--texto-versao-dark);
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    text-decoration: none;
    background-color: var(--roxo-destaque);
    border-radius: 36px;
    height: 66px;
    width: 340px;
    display: block;
    text-align: center;
    line-height: 66px;
    margin: 40px auto;
    
}

a:hover {
    background-color: var(--roxo-hover);
}

section img {
    display: block;
    margin: 0 auto;
    width: 792px;
    height: 446px;
}

header img{
    display: block;
    margin: 75px 0 0 360px;
}

@media(max-width: 768px){
    .texto {
        width: 648px;
    }

    header img {
       margin: 65px 0 0 60px;
    }
}

@media(max-width: 375px){
    header img {
        margin: 32px 0 0 16px;
    }
    .titulo{
        font-size: 40px;
    }
    
    
    .texto {
        width: 341px;
        font-size: 20px;
    }
    section img {
        width: 341px;
        height: 230px;
    }
    a {
        font-size: 20px;
        width: 251spx;
    }
  
}







