body {
  margin: 0;
}

header {
  background-color: #06151a;
  padding: 32px;
  display: flex;
  justify-content: center;
}

section {
  background: linear-gradient(189deg, #17e4b9 0%, #091d24 100%);
  display: flex;
  justify-content: center;
}

section img {
  max-width: 90%;
}

.form-evento{
  background-color: #212121;
  padding: 32px 28px;
  border-radius: 16px;
  width: 384px;
  max-width: 90%;
  margin: 64px auto;
}
